/*
    Щоб не імпортувавати кожен раз усі подібні стилі окремо,
    групуємо їх в цей загальний файл.

    update: якщо _variables, _mixins чи ще щось подібне, потрібне завжди,
    то стає дуже загайно імпортувати навіть один файл _data.scss
    в кожен компонент де треба їх використання. Можна спробувати 
    в інструменті для розробки визначити, щоб цей файл імпортувався завжди.

    З іншого боку, треба бути обережним з таким використанням, бо деякі компоненти
    не повинні знати про конкретні загальні змінні, функції і тд. Бо якщо такі компоненти
    будуть занадно залежними від чогось глобального, їх не вдастя коректно
    перевикористати десь в іншому місці.

    update2: додав у 'vite.config.js' цей файл глобально. Тереп він буде 
    автоматично імпортуватись усюди
*/

@import "~/styles/_variables.scss";
@import "~/styles/_mixins.scss";


/*
    Треба мати на увазі таке:
    https://sass-lang.com/blog/the-module-system-is-launched
*/