/*
sm - small
m - middle
big 

ver, v - vertical
hor, h - horizontal
*/

$v-space-sm: 1rem;
$v-space-m: 2rem;
$v-space-big: 3rem;

$page-side-space: 5rem;

$title-big: 4rem;

$def-block-border-radius: 5px;
$def-block-inset-shadow: inset 0 0 3px 0px #9999991f;

// base colors
$color-simple-yellow: #fdc646;
$color-simple-red: #c34a4a;
$color-simple-green: #8bc34a;
$color-simple-blue: #4a96c3;