@import "./_mixins.scss";

html {
	font-family: Calibri, Helvetica, Arial, sans-serif;
	font-size: 16px;
    font-weight: 100;
    line-height: 1;
}
html, body {
	overflow: hidden;
    height: 100%;
	margin: 0;
	padding: 0;
}

//#region Наші загальні стилі
a {
    text-decoration: none;
}
h1 { font-size: 4rem; }
h2 { font-size: 3rem; }
//#endregion



#app {
    height: 100%;
    width: 100%;
	overflow: auto;
    @include setPrettyBg(#fff, 90deg, #ffffff00, #dddddd54, 2px);
}
