@import "~/styles/_variables.scss";

.page {
    display: flex;
    flex-direction: column;
    min-height: 100%;

    main {
        flex: 1;
        margin: 0 $page-side-space;
    }
    .page-title {
        font-size: $title-big;
        margin: $v-space-m auto;
    }
}