@mixin setIconSize($value) {
    svg { width: #{$value+'%'}; height: #{$value+'%'}; }
}

$percents : (10,20,30,40,50,60,70,80,90,100,110,120,130);
$percentKeys : (
    normal: 70,
    large: 100,
    huge: 120
);

.v-icon {
    // important взагалі не дуже круто, але іноді виправдано
    display:flex !important;
    & > svg { 
        margin:auto; 
        & > image {
            width: inherit;
            height: inherit;
        }
    }
    & > use {
        
    }
    svg {
        * {//path {
            fill: inherit;
        }
    }
}

// встановлюємо багато варіантів розмірів
.v-icon { 
    @include setIconSize(map-get($percentKeys, "large"));
}
@each $value in $percents {
    .v-icon-#{$value} {
        @include setIconSize($value);
    }
}
@each $key, $value in $percentKeys {
    .v-icon-#{$key} {
        @include setIconSize($value);
    }
}






